<?xml version="1.0" encoding="UTF-8"?>
        <?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <!-- Root Logger -->
    <Root level="info">
        <AppenderRef ref="ConsoleAppender"/>
    </Root>

    <!-- Loggers for Specific Categories -->
    <Logger name="com.jdc.schoolMgntSystem.controller" level="debug">
        <AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Logger name="com.jdc.schoolMgntSystem.serviceImpl" level="debug">
        <AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Logger name="com.jdc.schoolMgntSystem.serviceImpl" level="warn">
        <AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Logger name="com.jdc.schoolMgntSystem.serviceImpl" level="warn">
        <AppenderRef ref="ConsoleAppender"/>
    </Logger>
</Loggers>
</Configuration>
